/* Exercise.css */
.exercise-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.exercise-title {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.exercise-details {
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}
